.footer {
  padding: 1rem 2rem;
  background-color: #ffffff;
  /* Set the footer background to white */
  color: #000000;
  /* Set the text color to black */
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: none;
  /* Remove the top border */
}

.footer p {
  margin: 0;
  color: #000000;
  /* Set paragraph text color to black */
}

.footer a {
  color: #000000;
  /* Set link color to black */
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
  /* Smooth transition for hover effect */
}

.footer a:hover,
.footer a.active {
  color: #8c8cff;
  /* Change to lavender on hover and active state */
}