.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #000000;
  border-bottom: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Merriweather', serif;
  /* Ensure the header spans the full width of the page */
}

.header h1 {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  color: #000000;
  transition: color 0.3s ease;
  margin: 0;
  /* Remove any default margin */
}

nav {
  margin-left: auto;
  /* Push the navbar to the right */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s;
  font-family: 'Merriweather', serif;
}

nav ul li a:hover {
  color: #E6E6FA;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

nav ul li a.active {
  color: #E6E6FA;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

nav ul li a::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #E6E6FA;
  transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a:hover::before,
nav ul li a.active::before {
  width: 100%;
  left: 0;
}

body,
.main-content {
  padding-top: 70px;
  /* Adjust padding-top to match the height of your header */
}