/* src/assets/styles/index.css */

body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #f8f4e3;
    color: #2c2c2c;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Great Vibes', cursive;
    color: #2c2c2c;
  }
  